<h1>Todo list</h1>

<%= form_for :task, url: tasks_path do |f|%>
  <%= f.text_field :description, placeholder: 'What needs to be done?' %>
  <%= f.submit 'Add task' %>
<% end %>

<table>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= render partial: 'task/description', layout: false, locals:{task: task}  %>
      </td>
      <td><%= button_to 'Complete', task_complete_path(task), method: :post %></td>
      <td><%= button_to 'Delete', task_path(task), method: :delete %></td>
  </tr>
  <% end %>
</table>

<%= button_to 'All', root_path, method: :get%>
<%= button_to 'Completed', show_completed_path, method: :get%>
<%= button_to 'Incomplete', show_incomplete_path, method: :get%>
<%= button_to 'Clear Completed', delete_completed_path, method: :delete%>
